In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [38]:
ONE_DAY = 86400
ONE_HOUR = 3600
ONE_WEEK = 7 * ONE_DAY
df = pd.DataFrame(columns=["timestamp", "operation", "account", "amount", "duration"])

In [39]:
# CASE 2: Every day 4000 tap deposited, increase by 500 per day and locked for 4 weeks. 20 days

SAVE = False
case_num = 2
ifname = f"../results/inputfiles/test{case_num}.csv"

df["timestamp"] = [i * ONE_DAY for i in range(20)]
df["operation"] = [1] * 20
df["account"] = [1001] * 20
df["amount"] = [int(4000 * (1.1**i)) for i in range(20)]
df["duration"] = [4] * 20
print(df)
if SAVE:
    df.to_csv(ifname, index=False, header=False)

    timestamp  operation  account  amount  duration
0           0          1     1001    4000         4
1       86400          1     1001    4400         4
2      172800          1     1001    4840         4
3      259200          1     1001    5324         4
4      345600          1     1001    5856         4
5      432000          1     1001    6442         4
6      518400          1     1001    7086         4
7      604800          1     1001    7794         4
8      691200          1     1001    8574         4
9      777600          1     1001    9431         4
10     864000          1     1001   10374         4
11     950400          1     1001   11412         4
12    1036800          1     1001   12553         4
13    1123200          1     1001   13809         4
14    1209600          1     1001   15189         4
15    1296000          1     1001   16708         4
16    1382400          1     1001   18379         4
17    1468800          1     1001   20217         4
18    1555200          1     1001   22239         4
19    1641600          1     1001   24463         4

In [46]:
# CASE 2: Every day 4000 tap deposited, increase by 500 per day and locked for 4 weeks. 20 days

SAVE = False
case_num = 3
ifname = f"../results/inputfiles/test{case_num}.csv"

df["timestamp"] = [i * ONE_DAY for i in range(20)]
df["operation"] = [1] * 20
df["account"] = [1001] * 20
df["amount"] = [int(4000 * (1.1**i)) for i in range(20)]
df["duration"] = [4 * (1.1**i) for i in range(20)]
df["duration"] = np.floor(df["duration"]).astype(int)
print(df)
if SAVE:
    df.to_csv(ifname, index=False, header=False)

    timestamp  operation  account  amount  duration
0           0          1     1001    4000         4
1       86400          1     1001    4400         4
2      172800          1     1001    4840         4
3      259200          1     1001    5324         5
4      345600          1     1001    5856         5
5      432000          1     1001    6442         6
6      518400          1     1001    7086         7
7      604800          1     1001    7794         7
8      691200          1     1001    8574         8
9      777600          1     1001    9431         9
10     864000          1     1001   10374        10
11     950400          1     1001   11412        11
12    1036800          1     1001   12553        12
13    1123200          1     1001   13809        13
14    1209600          1     1001   15189        15
15    1296000          1     1001   16708        16
16    1382400          1     1001   18379        18
17    1468800          1     1001   20217        20
18    1555200          1     1001   22239        22
19    1641600          1     1001   24463        24